## File patterns ##
-------------------
\#*
*.elc
session.*
\.lsp-session*
tramp
.emacs
.mc-lists.el
flycheck_init.el
## Individual directories ##

.cache/
.python-environments/
auto-save-list/
bookmarks/
eshell/
elpa/
image-dired/
quelpa/
tramp/
transient/
var/

## Individual files ##
----------------------
ido.last
ac-comphist.dat
ede-projects.el
local.el
custom.el
org-clock-save.el
projectile-bookmarks.eld
projectile.cache

bookmarks
